* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, orangered, #ff784e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-container {
  text-align: center;
  color: white;
}

.logo {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 30px;
  animation: float 3s ease-in-out infinite;
}

/* FLOAT */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 25, 0.4);
}

/* SPINNER */
.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  margin: 30px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dots {
  display: inline-block;
  width: 30px;
}

/* FADE OUT */
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
